/* line 1, ../sass/_footer.scss */
#about-text {
  text-align: justify;
}

/* line 5, ../sass/_footer.scss */
footer.page-footer {
  background-color: #4CAF50 !important;
}

/* line 2, ../sass/_home-collection.scss */
#collection-wrap .collection-panel {
  height: 30%;
}
/* line 6, ../sass/_home-collection.scss */
#collection-wrap .collection-content {
  height: 100%;
}
/* line 10, ../sass/_home-collection.scss */
#collection-wrap .collection-title {
  display: none;
  color: white;
  font-weight: 700;
  font-size: 40px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 0px;
  padding-bottom: 0px;
}
/* line 21, ../sass/_home-collection.scss */
#collection-wrap #collection-men-title {
  text-align: right;
}

/* line 28, ../sass/_home-collection.scss */
#home-collection-men:hover #collection-men-title {
  display: block;
}

/* line 34, ../sass/_home-collection.scss */
#home-collection-women:hover #collection-women-title {
  display: block;
}

/* line 1, ../sass/_home-ads.scss */
#sponsored-ads {
  margin-top: 10px;
}

/* line 1, ../sass/_navbar.scss */
#search-bar {
  height: 100%;
  width: 50%;
}

/* line 5, ../sass/_navbar.scss */
#nav-category-select {
  width: 120px !important;
  z-index: 4;
  font-weight: 900 !important;
  font-size: 18px !important;
  padding-left: 10% !important;
}
/* line 11, ../sass/_navbar.scss */
#nav-category-select #category-select {
  font-weight: 900 important;
  font-size: 18px important;
  padding-left: 10% important;
}

/* line 19, ../sass/_navbar.scss */
.li_no_hover {
  opacity: 1;
  background-color: transparent !important;
  margin-left: -5%;
  margin-top: -15%;
}

/* line 25, ../sass/_navbar.scss */
.arrange {
  display: inline-block;
}

/* line 28, ../sass/_navbar.scss */
nav {
  background-color: #4CAF50;
}

/* line 31, ../sass/_navbar.scss */
#categories_drop {
  margin-right: 5%;
}

/* line 33, ../sass/_navbar.scss */
#search_bar {
  height: 100%;
  width: 450px;
}

/* line 35, ../sass/_navbar.scss */
#drop_button {
  color: white;
  border-radius: 25px;
  margin-left: 30px;
}

/* line 39, ../sass/_navbar.scss */
#dropdown1 {
  z-index: 3;
  margin-left: 30px;
}

/* line 41, ../sass/_navbar.scss */
#search {
  height: 40px;
  border-radius: 25px;
  margin-top: 12px;
  line-height: 15px;
}

/* line 46, ../sass/_navbar.scss */
#logo_img {
  height: 80%;
  margin-top: 5px;
  margin-left: 15px;
}

/* line 51, ../sass/_navbar.scss */
#searchSubmit {
  display: none;
}

/* line 54, ../sass/_navbar.scss */
.product-change {
  padding-left: 15px;
  padding-right: 15px;
  margin: 5px;
}

/* line 5, ../sass/home.scss */
.select-wrapper input.select-dropdown {
  border-bottom: none;
}

/* line 8, ../sass/home.scss */
#addProductButton {
  margin: 5% 20%;
}
